@import "../../variables";
@import "../../typography";


.cookbook { 
    
    background: url(../../../../../images/home/soulfood-bg.jpg);
    background-size: contain;
    height: 100%;
    padding-top: 200px;
    overflow: auto;

  
    .outline {
        outline: 1px solid black;
        padding: 20px 40px 20px;
    }
    
    

    #cookbookcontainer {
        border-radius: 25px;
        box-shadow: 2px 2px $dark;
        background: whitesmoke;
        width: 50%;
        
    }


    
    

    hr {
        width: 85px;
        background-color: white;
    }

    .continue {
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .space {
        margin: 10px 0px 10px
    }


    @media only screen and (max-width: 790px) {
        
        

        

        #cookbookcontainer {
            border-radius: 25px;
            box-shadow: 2px 2px $dark;
            background: whitesmoke;
            width: 75%;
            
        }


    
    }

    @media only screen and (max-width: 1291px) {
        
        .remove {
            display: none;
        }

        


    
    }
}