@import "../../variables";
@import "../../typography";


.cookbook { 
    
    background: $secondary;
    height: 100%;
    padding-top: 200px;
    overflow: auto;

  
    .outline {
        outline: 1px solid black;
        padding: 20px 40px 20px;
    }
    
    .container {
        width: 50%;
        

    }

    #cookbookcontainer {
        border-radius: 25px;
        padding: 40px 0px 40px;
        box-shadow: 2px 2px $dark;
        background: whitesmoke;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        
    }

    

    

    .stepBorder {
        background: white;
        padding: 10px 15px 10px;
        border-radius: 100%;
        align-items: center;
        background-clip: padding-box;
        
        
    }

    
    

    hr {
        width: 85px;
        background-color: white;
    }

    .continue {
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .space {
        margin: 10px 0px 10px
    }


    @media only screen and (max-width: 790px) {
        
        

        .container {
            width: 85%;
        }


    
    }

    @media only screen and (max-width: 1291px) {
        
        .remove {
            display: none;
        }

        


    
    }
}