@import "../../variables";
@import "../../typography";

.directions {
    background: $primary;
    height: 100%;
    padding-top: 200px;
    overflow: auto;

  
    .outline {
        outline: 1px solid black;
        padding: 20px 40px 20px;
    }   

    

    .stepBorder {
        background: white;
        padding: 10px 15px 10px;
        border-radius: 100%;
        align-items: center;
        border-color: $primary;
        
    }
    #directionsContainer {
        border-radius: 25px;
        padding: 40px 0px 40px;
        box-shadow: 2px 2px $dark;
        background: whitesmoke;
        
    }


    

    hr {
        width: 85px;
        background-color: white;
    }

    .continue {
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .space {
        margin: 10px 0px 10px
    }

    .container {
        width: 50%;
        

    }

    


    @media only screen and (max-width: 790px) {
        
    

        .container {
            width: 85%;
        }

    
    }


    @media only screen and (max-width: 1291px) {
        
        .remove {
            display: none;
        }

    }  


    
    
}