@import "../../variables";
@import "../../typography";

.tags {
    background: $primary;
    height: 100%;
    padding-top: 200px;
    overflow: auto;

  
    .outline {
        outline: 1px solid black;
        padding: 20px 40px 20px;
    }   

    

    .stepBorder {
        background: white;
        padding: 10px 15px 10px;
        border-radius: 100%;
        align-items: center;
        border-color: $primary;
        
    }


    

    hr {
        width: 85px;
        background-color: white;
    }

    .continue {
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .space {
        margin: 10px 0px 10px
    }

    


    @media only screen and (max-width: 790px) {
        
        .remove {
            display: none;
        }


    
    }
}