@import "../../variables";
@import "../../typography";


.featuredRecipe {

    #thumbnail {
        height: 20vh;
        width: auto;
    }

    #line {
        border:solid 2px lightgrey;
        width: 96%;
        color: #FFFF00;
        height: 1px;
    }
    
    


    
}