@import "../../variables";
@import "../../typography";

.recipeScreen {
    
    padding-top: 200px;
   
    
    #commentInput {
        color: $dark;
        width: 50%;
    }

    
        #commentline {
            border:solid 1px lightgrey;
            width: 100%;
            color: #FFFF00;
            height: 1px;
        }

        #line {
            border:solid 2px lightgrey;
            width: 90%;
            color: #FFFF00;
            height: 1px;
        }

        #brain {
            color: pink;
        }

        #apple {
            color: red;
        }

        #utinsils {
            color:darkgoldenrod;
        }
    
    


}