@import "../../variables";
@import "../../typography";


.featuredRecipe {

    #thumbnail {
        
        width: 75%;
        align-items: center;
        justify-content: center;
    }

    #line {
        border:solid 2px lightgrey;
        width: 96%;
        color: #FFFF00;
        height: 1px;
    }

    
    
    
    @media (max-width: 768px) {
        #centerSm {
        justify-content: center;
        align-items: center;
    }

        .description {
            padding: 2px 8px 2px;
        }

        #thumbnail {
            width: 75%;
            align-items: center;
            justify-content: center;
        }

        
        
    }
}

    
