@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans+Condensed:wght@300;700&display=swap');


html {
    font-size: 16px;
  }
  @media (max-width: 992px) {
    html { font-size: 16px; }
  }
  @media (max-width: 768px) {
    html { font-size: 15px; }
  }
  @media (max-width: 576px) {
    html { font-size: 14px; }
  }

 
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;  
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    
    font-weight: 300;
    font-size: 2.5rem;   
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 2rem;   
}

h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1.75rem;   
}

h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;   
}

p {
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
}

a {
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

input[type=text]::placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: $dark;
}


input[type=text] {
        
  max-width: 40vw;
  min-width: 40vw;
  padding: 15px 5px 15px;
  margin: 2.5rem 0px 2.5rem;
  border: none;
  border-bottom: 4px solid $dark;
  background-color: transparent;
  color: $dark;
  
  transition: width 1s ease-in-out;

  
}

textarea[type=text] {
        
  max-width: 40vw;
  min-width: 40vw;
  padding: 15px 5px 15px;
  margin: 2.5rem 0px 2.5rem;
  border: none;
  border-bottom: 4px solid $dark;
  background-color: transparent;
  color: $dark;
  overflow: hidden; 
  transition: width 1s ease-in-out;

  
}

input[type=number] {
        
  max-width: 40vw;
  min-width: 40vw;
  padding: 15px 5px 15px;
  margin: 2.5rem 0px 2.5rem;
  border: none;
  border-bottom: 4px solid $dark;
  background-color: transparent;
  color: $dark;
  transition: width 1s ease-in-out;

  
}

select[type=text] {
        
  max-width: 40vw;
  min-width: 40vw;
  padding: 15px 5px 15px;
  margin: 2.5rem 0px 2.5rem;
  border: none;
  border-bottom: 4px solid $dark;
  background-color: transparent;
  color: $dark;
  text-align: center;
  transition: width 1s ease-in-out;

  
}



input[type=text]:focus {
  border: 3px solid #555;
  
  
}

input[type=text]:hover  {
  border: 3px solid #555;
  background-color: $light;

  
}

li {
  font-family: 'Abel', sans-serif;
  font-size: 1.2rem; 
}

label {
  display: block;
}


@media only screen and (min-width: 600px) {
  input[type=text] {
        
    max-width: 40vw;
    padding: 15px 5px 15px;
    margin: 2.5rem 0px 2.5rem;
    border: none;
    border-bottom: 4px solid $dark;
    background-color: transparent;
    color: $dark;
    
  
    
  }   
  

}



